/*
    Rules to add functionality
*/

@media all and (min-width: 1100px) {
    .wrapper, .header, .footer {
        width: 1100px !important;
    }

    .page-title {
        font-size: x-large !important;
    }

    .splits {
        flex-direction: column;
    }

    .expands {
        flex-direction: row !important;
    }

    .steam-embed {
        min-width: 550px !important;
        min-height: 250px !important;
    }

    .itch-embed {
        min-width: 550px !important;
        min-height: 250px !important;
    }

    .youtube-embed {
        min-width: 550px !important;
        min-height: 450px !important;
    }

    .conditional {
        display: none;
    }

    .conditional-invert {
        display: inline !important;
    }
}

.conditional-invert {
    display: none;
}

.pop-in {
    animation: pop-in 0.25s ease-in-out;
}

@keyframes pop-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

.scrollable {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.yes {
    display: block;
}

.no {
    display: none;
}

.hide {
    display: none !important;
}