/*
    Rules to add functionality
*/

@media only screen and (min-width: 1100px) {
    .wrapper {
        width: 1100px;
    }

    .page-title {
        font-size: x-large !important;
    }

    .splits {
        flex-direction: column;
    }

    .expands {
        flex-direction: row !important;
    }

    .conditional {
        display: none;
    }
}

.pop-in {
    animation: pop-in 0.25s ease-in-out;
}

@keyframes pop-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.scrollable {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.yes {
    display: block;
}

.no {
    display: none;
}

.hide {
    display: none;
}