.blog-preview {
    position: relative;
    border: 2px solid var(--background-light);
    border-radius: 8px;
    min-height: 155px;
    min-width: 200px;
    max-width: 500px;
    background-color: var(--background-darker);
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    margin: 8px;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
}

.blog-preview:hover {
    animation: blog-preview-hover 0.05s ease-out;
    transform: scale(1.02);
}

@keyframes blog-preview-hover {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.02);
    }
}

.blog-preview-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: -moz-linear-gradient(bottom, var(--overlay-start) 0%, var(--overlay-end) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,var(--overlay-end)), color-stop(100%,var(--overlay-start))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, var(--overlay-start) 0%,var(--overlay-end) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, var(--overlay-start) 0%,var(--overlay-end) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, var(--overlay-start) 0%,var(--overlay-end) 100%); /* IE10+ */
    background: linear-gradient(to top, var(--overlay-start) 0%,var(--overlay-end) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blog-preview-title {
    font-family: "Bebas Neue";
    font-size: 32px;
    text-align: center;
    z-index: 2;
    text-shadow: 0px 0px 8px black;
}

.blog-preview-type {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Bebas Neue";
    font-size: 24px;
    text-align: left;
    z-index: 2;
    background-color: var(--blog-type-tutorial);
}

.blog-preview-date {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "Bebas Neue";
    font-size: 20px;
    text-align: left;
    z-index: 2;
    background-color: var(--blog-date);
}

.blog-md {
    margin: 32px;
}

.blogs-horizontal {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.blog-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue";
    padding-left: 24px;
    padding-right: 24px;
}

.blog-about-tutorial {
    color: var(--blog-type-tutorial);
}

.blog-about-news {
    color: var(--blog-type-news);
}

.blog-about-author {
    color: var(--blog-author);
    font-weight: 700;
}

.blog-about-date {
    color: var(--blog-date);
}

.blogs-vertical {
    flex-grow: 1;
}

.blogs-vertical>*>.blog-preview-title {
    font-size: 24px;
}