.content {
    position: relative;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: calc(100vh - 64px - 48px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.page>* {
    animation: fade-in 0.3s ease-in;
}

.page {
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: calc(100vh - 64px - 48px);
    background-color: var(--background) !important;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page-parent,
.page-child {
    z-index: 10;
    width: 100%;
    min-height: 100% !important;
    height: 100% !important;
}

.page-child {
    position: absolute;
    top: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.page-top {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.page-top>* {
    padding: 8px;
}

.page-title {
    font-size: 64px !important;
    font-family: "Bebas Neue";
    font-weight: 100;
    border-radius: 5px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

a:link { color: rgb(0, 195, 255); }
a:active { color: rgb(0, 136, 255); }
a:visited { color: rgb(255, 0, 195); }
a:hover { color: rgb(0, 247, 255); }

.page-subtitle {
    font-size: 32px !important;
    font-family: "Bebas Neue";
    font-weight: 100;
    border-radius: 5px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.page-description {
    margin: 16px;
    padding: 12px;
    border: 2px solid var(--background-light);
    color: var(--text-secondary);
    width: auto;
    border-radius: 5px;
    text-wrap: wrap;
}

.page-options {
    margin: 8px;
    flex-direction: row-reverse !important;
}

.page-image {
    height: fit-content;
    width: 70%;
    margin: auto;
}

.topbar {
    width: calc(100% - 3px);
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 4px;
    margin-inline: 3px;
}

.topbar>div {
    height: 48px;
    margin: 8px;
    margin-top: 12px;
    flex-grow: 1;
}

.header {
    width: 100%;
    height: 64px;
}

.footer {
    width: 100%;
    height: 48px;
    color: var(--text-secondary);
    background-color: var(--background-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-text {
    flex-grow: 11;
}

.footer-icons {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-icons>a, .footer-icons>a>img {
    width: 32px;
    height: 32px;
}

.footer-icons>a {
    margin-left: 4px;
    margin-right: 4px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid var(--background-light);
}

.steam-embed {
    margin: auto;
    width: calc(100% - 32px);
    max-width: 700px;
    min-height: 200px;
    border: none;
}

.itch-embed {
    margin: auto;
    width: calc(100% - 32px);
    max-width: 554px;
    height: 169px !important;
    border: none;
}

.itch-embed {
    margin: auto;
    width: calc(100% - 32px);
    max-width: 554px;
    height: 169px !important;
    border: none;
}

.itch-embed>img {
    width: 99%;
    height: 100%;
    overflow: visible;
    border: none;
    object-fit: cover;
    cursor: pointer;
}

.youtube-embed {
    position: relative;
    margin: auto;
    width: calc(100% - 32px);
    min-height: 250px;
    border: 1px solid var(--background-light);
    border-radius: 5px;
    overflow: hidden;
}

.youtube-embed>img {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    cursor: pointer;
}

.youtube-embed::after {
    content: " ";
    background-image: url('/socials/youtube_play.svg');
    min-width: 100px;
    min-height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

ul {
    padding-left: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.feature {
    font-weight: bold;
    padding: 2px;
}

.dev-icon {
    width: 48px;
    height: 48px;
    margin-left: -24px;
    border-radius: 24px;
    border: 2px solid var(--background-light);
}

.dev-info {
    width: fit-content;
    overflow: visible;
    padding: 8px 8px 8px 0;
    border-radius: 16px;
    border: 2px solid var(--background-light);
    display: flex;
    flex-direction: row;
}

.dev-text {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.devs {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.devs>div {
    margin: 8px;
}
