.content {
    position: relative;
    left: 0;
    width: 100%;
    height: calc(100% - 68px - 48px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.page {
    position: absolute;
    min-width: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: var(--background) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.page-parent,
.page-child {
    z-index: 10;
    width: 100%;
    min-height: 100% !important;
    height: 100% !important;
    background-color: var(--background);
}

.page-child {
    position: absolute;
    top: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.page-top {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.page-top>* {
    padding: 8px;
}

.page-title {
    font-size: 64px !important;
    font-family: "Bebas Neue";
    font-weight: 100;
    border-radius: 5px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.page-subtitle {
    font-size: 32px !important;
    font-family: "Bebas Neue";
    font-weight: 100;
    border-radius: 5px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.page-description {
    margin: 16px;
    padding: 12px;
    border: 2px solid var(--background-light);
    color: var(--text-secondary);
    width: auto;
    border-radius: 5px;
    text-wrap: wrap;
}

.page-options {
    margin: 8px;
    flex-direction: row-reverse !important;
}

.page-image {
    height: fit-content;
    width: 70%;
    margin: auto;
}

.topbar {
    width: calc(100% - 3px);
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 4px;
    margin-inline: 3px;
}

.topbar>div {
    height: 48px;
    margin: 8px;
    margin-top: 12px;
    flex-grow: 1;
}

.footer {
    position: relative;
    height: 48px;
    color: var(--text-secondary);
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

@media screen {
    
}

.steam-embed {
    margin: auto;
    min-width: 550px;
    min-height: 250px;
    border: none;
}

.feature {
    font-weight: bold;
    margin-left: 32px;
}

.dev-icon {
    width: 48px;
    height: 48px;
    margin-left: -24px;
    border-radius: 24px;
    border: 2px solid var(--background-light);
}

.dev-info {
    width: fit-content;
    overflow: visible;
    padding: 8px 8px 8px 0;
    border-radius: 16px;
    border: 2px solid var(--background-light);
    display: flex;
    flex-direction: row;
}

.dev-text {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.devs {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}